<header class="bg-primary text-white">
<div class="container text-center">
  <h1>Agenda Sala de Reunião</h1>
</div>
</header>

<section id="services" class="bg-light">
<div class="container">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="page-header">
        <div class="row">
          <div class="col-sm-12 col-lg-12">
            <%= form_for(home_index_path,  html: { multipart: true }) do |f| %>
              <%= date_field_tag :new_day, value: Time.current, class: 'date-field' %>
              <%= submit_tag 'Pesquisar', class: 'btn btn-primary btn-lg white' %>
            <% end %>
          </div>
        </div>
        <div class="row" id="calendar">
          <%#= render partial: 'home/shared/table' %>
          <div class="col-sm-12 col-lg-12">
            <table class="table table-dark">
              <thead>
                <th>Horário</th>
                <% @weekdays.each_with_index do |day, ind| %>
                   <input type="hidden" id="base-date" value=<%=@dates[ind]%> >
                  <th> <%= "#{day} - #{@dates[ind]}" %></th>
                <% end %>
              </thead>
              <tbody>
                <% @timetables.each do |hour| %>
                  <tr>
                    <td> <%="#{hour}"%></td>
                    <td>
                      <%#= render partial: 'partials/calculate', locals: {num: 0, hour: hour} %>
                    </td>
                    <td>
                      <%#= render partial: 'partials/calculate', locals: {num: 1, hour: hour} %>
                    </td>
                    <td>
                      <%#= render partial: 'partials/calculate', locals: {num: 2, hour: hour} %>
                    </td>
                    <td>
                      <%#= render partial: 'partials/calculate', locals: {num: 3, hour: hour} %>
                    </td>
                    <td>
                      <%#= render partial: 'partials/calculate', locals: {num: 4, hour: hour} %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>




<!-- Modal Cadastro e Edição-->
<div class="modal fade" id="cadModal" tabindex="-1" role="dialog" aria-labelledby="cadModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="cadModalTitle">Reserva de Sala</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="d-form">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Visualização-->
<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewModalTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewModalTitle">Visualização de Reserva</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="d-view">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
